* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.lives {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  color: #ff0000;
  font-size: 1.5rem;
}

.word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 5rem;

  .letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2.5rem;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 0.25rem;

    .key {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2.5rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      text-align: center;
      font-size: 1.25rem;
      cursor: pointer;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;

      &.correct {
        background-color: #00ff00;
        color: white;
      }

      &.wrong {
        background-color: #ff0000;
        color: white;
      }
    }
  }
}

.congrats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 100;
  padding: 2rem;
  text-align: center;

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }

  .reset {
    background-color: #3758ff;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.25rem;
  }
}